:root {
    --maintheme1: #0080FF;
    --maintheme2: #7BBDFF;
    --maintheme3: #A8D4FF;
    --tabletheme1: #FFAE00;
    --tabletheme2: #FFC342;
    --tabletheme3: #FFE2A4;
    --darktheme1: #000000;
    --darktheme2: #404040;
    --darktheme3: #D8D8D8;
    --backgroundtheme1: #ffffff;
}
